<ion-tabs>

  <ion-tab-bar>

    <ion-tab-button tab="monitoramento">
      <ion-icon name="pulse-outline"></ion-icon>
      <ion-label>Monitoramento</ion-label>
    </ion-tab-button>
    
    <ion-tab-button>
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Despesas</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Consultas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracao">
      <ion-icon name="hammer-outline"></ion-icon>
      <ion-label>Configurar</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

<ion-fab horizontal="center" vertical="bottom">

  <ion-fab-button>
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>

</ion-fab>
